body{
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #070178;
    width: 100%;
    height: 60px;
}
.tittle{
    float: left;
    color: white;
}
header>div>h2{
    margin-left: 0.5em;
    margin-top: 1em;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}.menu{
    float: right;
    padding-top: 2em;
    padding-right: 2em;
}
.menu>nav>a{
    color: white;
    text-decoration: none;
    margin-right: 1em;
    padding-bottom: 1em;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;;
    background-color: #070178;
}
.social{
    max-width: 34px;
    margin-left: 0.5em;
    margin-top: 1em;
    text-align: center;
}
.social:hover{
    max-width: 40px;
    background-color: white;
    border-radius: 10px;
}
.sociales{
    float: right;
    padding-bottom: 1em;
    padding-right: 5em;
}
.texto{
    text-align: center;
    float: left;
    padding-top: 20em;
    padding-left: 20em;
}
.texto>h1{
    padding-bottom: 2em;
}
.label-text{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: start;
    color: teal;
}
.input-text{
    width: 220px;
    height: 25px;
    border:.5px solid teal;
    border-radius: 5px;
    margin-bottom: .5em;
    padding-right: .5em;
    position: relative;
    background-color: whitesmoke;
    right: 0;

}
.cajon{
    background-color: whitesmoke;
}
.formulario{
    float: right;
    padding-top: 20em;
    padding-right: 10em;
    margin-right: .5em;
}
.label-text2{
    padding-bottom: 5em;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    color: teal;
    padding-top: .5em;
}
.boton{
    background-color: #070178;
    color: white;
    text-align: center;
    margin-left: 45%;
    margin-top: .5em;
    width: 60px;
    height: 30px;
}
